apache-libcloud==0.20.1
backports.ssl-match-hostname==3.5.0.1
boto==2.38.0
dj-database-url==0.3.0
dj-libcloud==0.2.0
Django==1.9
django-storages==1.1.8
gunicorn==19.4.1
python-decouple==3.0
psycopg2==2.6.1
static3==0.6.1
dj-static==0.0.6
